<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Us</title>
  <link rel="stylesheet" type="text/css" href="../fonts/iconfonts/iconfont.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" type="text/css" href="../css/about.min.css">
</head>
<body>
  
  <!-- Start of Header -->
  <header class="site-header">
    <div class="container">
      <div class="logo">
        <a href=""><img src="./YMLOGO.png"></a>
      </div>

      <!-- nav -->
      <nav class="nav">
        <a href="index.html">主页</a>
        <a href="about.html" class="active">关于我们</a>
        <a href="contact.html">联系我们</a>
        <a href="index-en.html">English</a>
          <a href="product.html">产品范围</a>
      </nav>

      <!-- search area -->
      <div class="search-area">
        <form>
          <input type="text" name="wd" class="input">

          <button class="btn-submit">
            <span class="iconfont icon-search"></span>
            <input type="button">
          </button>
        </form>
      </div>

      <div class="clear"></div>
    </div>
  </header>
  <!-- End of Header -->


  <!-- Start of main body -->
<div class="content_bg">
  <div class="wrap">
    <div class="wrapper">
      <div class="main">
        <h2>关于我们</h2>
        <div class="about">
           <div class="cont-grid-img img_style">
            <img src="../photo/banners/img-6.png" height="584"></div>
             <div class="cont-grid">
             <div class="abt-para">
               <p>我厂主要生产重型起动机，有二十多年的生产经验。也有非常熟练和最好的生产线。我们有700多个型号的起动机，从1.1千瓦到15.0千瓦。它包括博世，三菱，雷米，电装的重型起动机。我们正在开发油泵电机，           起发电机</p>
               <p>&nbsp;</p>
               <p>如果您需要我们开发新产品，请随时联系我们。</p>
               <p>&nbsp;</p>
               <p>当我们收到新订单时，我们可以在45天后发货，我们的交货时间比其他供应商短，因此它可以帮助您在短时间内收到货物，并且您可以很快出售货物。</p>
               <p>&nbsp;</p>
               <p>&nbsp;</p>
               <p>我厂2018年获得IATF16949认证</p>
               <p class="para">&nbsp;</p>
          <div class="read_more"></div>
              </div>
               <div class="clear"></div>
              </div>
              <div class="clear"></div>
            <div class="about-p">
              <p>长沙宇名汽车电器有限公司是一家专业生产汽车起动机及其他配件的民营企业。</p>
              <p>&nbsp;</p>
              <p>现有产品700多个型号，已形成年产20万台起动机的生产能力。产品主要销往欧洲、北美、中东和东南亚。</p>
              <p>&nbsp;</p>
              <p>工厂引进了世界先进的技术和设备。建成了现代化的准柔性加工线和自动化生产线。它有两个中心：测试和技术开发。公司拥有高素质员工120余人，其中工程师、技术人员35人。本厂具有较强的研发能力，能在确认客户需求后90天内开发新产品，并提供优良的售后技术服务。</p>
              <p class="para"><img src="../photo/banners/img-12.jpg"></p>
                  <div class="read_more"></div>
          </div>
        </div>

        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
  <!-- End of main body -->


  <!-- Start of links -->
  <div class="links">
    <div class="container">
      <div class="item">
        <p>联系我们 </p>
        <p>电子邮箱：csyuming@vip163.com</p>
        <p>&nbsp;</p>
        <p>Skype：csyuming11</p>
        <p>&nbsp;</p>
        <p>电话:0086-731-88252996</p>
        <p>&nbsp;</p>
        <p>传真:0086-731-88252997</p>
        <p>&nbsp;</p>
        <p>地址：湖南省长沙市望城区茶亭镇洪开桥村</p>
      </div>
<div class="item">
        <p>网页地图:</p>
      <p>&nbsp;</p>
        <p><a href="about.html">关于我们</a></p>
      <p>&nbsp;</p>
        <p><a href="contact.html">联系我们</a></p>
      <p>&nbsp;</p>
        <p><a href="product.html">产品范围</a></p>
      <p>&nbsp;</p>
        <p><a href="index-en.html">英文主页</a></p>
        <p>&nbsp;</p>
        <p><a href="environment.html">公司环境</a></p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- End of links -->


  <!-- Start of Footer -->
  <footer class="site-footer">
    <div class="container">
      <p>Copyright (C) 2009　长沙宇名汽车电器有限责任公司   湘ICP备090152045号   技术支持：1+1网络</p>
    </div>
  </footer>
  <!-- End of Footer -->


  <!-- Include index -->
  <script type="text/javascript" src="../js/index.js"></script>

</body>
</html>