<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Us</title>
  <link rel="stylesheet" type="text/css" href="../fonts/iconfonts/iconfont.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" type="text/css" href="../css/about.min.css">
</head>
<body>
  
  <!-- Start of Header -->
  <header class="site-header">
    <div class="container">
      <div class="logo">
        <a href=""><img src="./YMLOGO.png"></a>
      </div>

      <!-- nav -->
      <nav class="nav">
        <a href="index-en.html">Home</a>
        <a href="about-en.html" class="active">About Us</a>
        <a href="contact-en.html">Contact Us</a>
        <a href="index.html">Chinese</a>
          <a href="product-en.html">product range</a>
      </nav>

      <!-- search area -->
      <div class="search-area">
        <form>
          <input type="text" name="wd" class="input">

          <button class="btn-submit">
            <span class="iconfont icon-search"></span>
            <input type="button">
          </button>
        </form>
      </div>

      <div class="clear"></div>
    </div>
  </header>
  <!-- End of Header -->


  <!-- Start of main body -->
<div class="content_bg">
  <div class="wrap">
    <div class="wrapper">
      <div class="main">
        <h2>About us                                                                                                                                                                                                                                                   </h2>
        <div class="about">
           <div class="cont-grid-img img_style">
            <img src="../photo/banners/img-6.png" height="588"></div>
             <div class="cont-grid">
             <div class="abt-para">
               <p>Our factory mainly produces heavy-duty starter, with more than 20 years of production experience. There are also very skilled and best production lines. We have more than 700 types of starters, ranging from 1.1 kW to 15.0 kW. It includes Bosch, Missoubishi, Remy, and electrically loaded heavy starters. We are developing oil pump motor and generator.</p>
               <p>If you need us to develop new products, please feel free to contact us.</p>
               <p>When we receive a new order, we can deliver it in 45 days. Our delivery time is shorter than that of other suppliers, so it can help you to receive the goods in a short time, and you can sell the goods quickly.</p>
               <p>Our factory won IATF16949 certification in 2018</p>
               <p class="para">&nbsp;</p>
          <div class="read_more"></div>
              </div>
               <div class="clear"></div>
              </div>
              <div class="clear"></div>
            <div class="about-p">
              <p>Changsha Yuming Automotive Electrical Co., Ltd. is a private enterprise specializing in the production of automobile starters and other accessories.</p>
              <p>&nbsp;</p>
              <p>More than 700 models of products are now produced, and the annual production capacity of 200,000 starters has been formed. The products are mainly sold to Europe, North America, Middle East and Southeast Asia.  </p>
              <p>The factory has imported advanced technology and equipment from the world. It has built a modern Quasi-flexible processing line and an automated production line. It has two centers: testing and technology development. There are more than 120 high-quality employees, including 35 engineers and technicians. The factory has a strong research and development capability, can develop new products within 90 days after confirming customer demand, and provide excellent after-sales technical services</p>
              <p class="para"><img src="../photo/banners/img-12.jpg"></p>
                  <div class="read_more"></div>
          </div>
        </div>

        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
  <!-- End of main body -->


  <!-- Start of links -->
  <div class="links">
    <div class="container">
      <div class="item">
        <p>Contact us</p>
        <p>&nbsp;</p>
        <p>E-mail: csyuming@vip163.com</p>
        <p>&nbsp;</p>
        <p>Skype: csyuming11</p>
        <p>&nbsp;</p>
        <p>Tel: 0086-731-88252996</p>
        <p>&nbsp;</p>
        <p>Fax: 0086-731-88252997</p>
        <p>&nbsp;</p>
        <p>Address: Hongkaiqiao Village, Chating Town, Wangcheng District, Changsha City, Hunan Province</p>
      </div>
<div class="item">
        <p>Web Map:</p>
        <p>&nbsp;</p>
        <p><a href="about-en.html">About us</a></p>
        <p>&nbsp;</p>
        <p><a href="contact-en.html">Contact us</a></p>
        <p>&nbsp;</p>
        <p><a href="product-en.html">Product scope</a></p>
        <p>&nbsp;</p>
        <p><a href="index-en.html">Chinese</a></p>
        <p>&nbsp;</p>
        <p><a href="environment.html">environment</a></p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- End of links -->


  <!-- Start of Footer -->
  <footer class="site-footer">
    <div class="container">
      <p>Copyright (C) 2009　长沙宇名汽车电器有限责任公司   湘ICP备090152045号   技术支持：1+1网络</p>
    </div>
  </footer>
  <!-- End of Footer -->


  <!-- Include index -->
  <script type="text/javascript" src="../js/index.js"></script>

</body>
</html>