<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact Us</title>
  <link rel="stylesheet" type="text/css" href="../fonts/iconfonts/iconfont.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" type="text/css" href="../css/about.min.css">
</head>
<body>
  
  <!-- Start of Header -->
  <header class="site-header">
    <div class="container">
      <div class="logo">
        <a href=""><img src="./YMLOGO.png"></a>
      </div>

      <!-- nav -->
      <nav class="nav">
        <a href="index.html">主页</a>
        <a href="about.html">关于我们</a>
        <a href="contact.html" class="active">联系我们</a>
        <a href="index-en.html">English</a>
          <a href="product.html">产品范围</a>
      </nav>

      <!-- search area -->
      <div class="search-area">
        <form>
          <input type="text" name="wd" class="input">

          <button class="btn-submit">
            <span class="iconfont icon-search"></span>
            <input type="button">
          </button>
        </form>
      </div>

      <div class="clear"></div>
    </div>
  </header>
  <!-- End of Header -->


  <!-- Start of main body -->
<div class="content_bg">
  <div class="wrap">
    <div class="wrapper">
      <div class="main">
        <div class="section group">
          <div class="col span_1_of_2">
            <div class="company_address">
              <h2>公司地址</h2>
            <p>地址：长沙市望城区茶亭镇洪开桥村&nbsp;</p>
            <p>电话：0086-731-88252998/88252996&nbsp;&nbsp; 传真：0086-731-88252997&nbsp;&nbsp; </p>
            <p>E-Mail：csyuming@vip.163.com&nbsp;</p>
           </div>
            <div class="contact_info">
              <h2>在这里找到我们</h2>
                <div class="map">
                  <img src="../photo/banners/img-14.png" width="334px" height="338px"><br>
              </div>
              </div>           
            <div class="clear"></div>
          </div>        
          <div class="col span_2_of_4">
          <div class="contact-form">
            <h2>联系我们</h2>
                 <form method="post" action="contact-post.html">
                <div>
                  <span>
                  <label>名字</label></span>
                  <span><input name="userName" type="text" class="textbox"></span>
                </div>
                <div>
                  <span>
                  <label>电子邮箱</label></span>
                  <span><input name="userEmail" type="text" class="textbox"></span>
                </div>
                <div>
                  <span>
                  <label>电话</label></span>
                  <span><input name="userPhone" type="text" class="textbox"></span>
                </div>
                <div>
                  <span><label>原因</label></span>
                  <span><textarea name="userMsg"> </textarea></span>
                </div>
               <div>
                  <span><input type="submit" value="发送"></span>
              </div>
              </form>

            </div>
          </div>    

          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- End of main body -->


  <!-- Start of links -->
  <div class="links">
    <div class="container">
      <div class="item">
        <p>联系我们 </p>
        <p>电子邮箱：csyuming@vip163.com</p>
        <p>&nbsp;</p>
        <p>Skype：csyuming11</p>
        <p>&nbsp;</p>
        <p>电话:0086-731-88252996</p>
        <p>&nbsp;</p>
        <p>传真:0086-731-88252997</p>
        <p>&nbsp;</p>
        <p>地址：湖南省长沙市望城区茶亭镇洪开桥村</p>
      </div>
<div class="item">
        <p>网页地图:</p>
        <p>&nbsp;</p>
        <p><a href="about.html">关于我们</a></p>
        <p>&nbsp;</p>
        <p><a href="contact.html">联系我们</a></p>
        <p>&nbsp;</p>
        <p><a href="product.html">产品范围</a></p>
        <p>&nbsp;</p>
        <p><a href="index-en.html">英文主页</a></p>
        <p>&nbsp;</p>
        <p><a href="environment.html">公司环境</a></p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- End of links -->


  <!-- Start of Footer -->
  <footer class="site-footer">
    <div class="container">
      <p>Copyright (C) 2009　长沙宇名汽车电器有限责任公司   湘ICP备090152045号   技术支持：1+1网络</p>
    </div>
  </footer>
  <!-- End of Footer -->


  <!-- Include index -->
  <script type="text/javascript" src="../js/index.js"></script>

</body>
</html>