<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="../fonts/iconfonts/iconfont.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="about.min.css">

</head>

<body>
<!-- Start of Header -->
  <header class="site-header">
    <div class="container">
      <div class="logo">
        <a href=""><img src="./YMLOGO.png"></a>
      </div>

      <!-- nav -->
      <nav class="nav">
        <a href="index.html">主页</a>
        <a href="about.html" class="active">关于我们</a>
        <a href="contact.html">联系我们</a>
        <a href="index-en.html">English</a>
          <a href="product.html">产品范围</a>
      </nav>

      <!-- search area -->
      <div class="search-area">
        <form>
          <input type="text" name="wd" class="input">

          <button class="btn-submit">
            <span class="iconfont icon-search"></span>
            <input type="button">
          </button>
        </form>
      </div>

      <div class="clear"></div>
    </div>
  </header>
  <!-- End of Header -->
<table class="dbg001" cellspacing="0" cellpadding="0" width="1002" align="center" border="0">
  <tbody>
  <tr>
    <td class="leftright" valign="top" align="left" width="211">&nbsp;</td>
    <td valign="top" align="left"><table cellspacing="0" cellpadding="0" width="760" align="center" border="0">
        <tbody>
        <tr>
          <td valign="top" align="left" height="180">
            <div style="OVERFLOW: hidden; HEIGHT: 11px; width:507px"></div>
            <table height="28" cellspacing="0" cellpadding="0" width="100%" border="0"><tbody>
              <tr>
                <td class="introbg001" valign="center" align="left" width="118">
                  <table cellspacing="0" cellpadding="0" width="100%" border="0">
                    <tbody>
                    <tr>
                      <td valign="center" align="middle" width="27" height="20">&nbsp;</td>
                      <td class="introfont" style="PADDING-RIGHT: 20px" valign="center" nowrap="" align="left"><font color="#1174BD"><span style="font-size: 9pt">
						公司环境</span></font></td></tr></tbody></table></td>
                <td class="downbg001" style="PADDING-RIGHT: 20px" valign="center" align="right">　</td></tr></tbody></table>
            <div style="PADDING-RIGHT: 10px; PADDING-LEFT: 10px; LINE-HEIGHT: 24px">
              <table width="54%" border="0" cellpadding="0" cellspacing="0" id="table63">
                    <tbody><tr>
                                  <td height="5"></td>
                                                    </tr>
                                                    <tr>
                                  <td height="10"></td>
                                                    </tr>
                                                            <tr> 
          <td align="left" valign="top"> 
                          <table width="700" border="0" cellpadding="0" cellspacing="0" class="table3" id="table64" height="156">
                                                          
                                                          <tbody><tr>
                                                            
                                                            <td align="center" class="line">
															<table width="200" border="0" cellspacing="0" cellpadding="0" id="table68" height="181">
                                                                <tbody><tr>
                                                                  
                                                        <td width="200" height="150" align="center" background="img/sm.jpg"><img src="../photo/banners/img-12.jpg"width="133%" height="234" border="0" align="top"></td>
                                                                </tr>
                                                                <tr>
                                                                  
                                                        <td height="31" align="center" class="font9">
                                                          <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table69">
                                                            <tbody><tr> 
                                                              <td align="center">公司树木</td>
                                                            </tr>
                                                            </tbody></table>
                                                        </td>
                                                                </tr>
                                                            </tbody></table></td>
                                                            
                                                            <td align="center" class="line">
															<table width="200" border="0" cellspacing="0" cellpadding="0" id="table68" height="181">
                                                                <tbody><tr>
                                                                  
                                                        <td height="150" align="center" background="img/sm.jpg"><img src="../photo/banners/img-12.jpg"width="180" height="240" border="0" align="top"></td>
                                                                </tr>
                                                                <tr>
                                                                  
                                                        <td height="31" align="center" class="font9">
                                                          <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table69">
                                                            <tbody><tr> 
                                                              <td align="center">
																<a href="showProDetail.asp?ProID=1790" class="money">公司树木</a></td>
                                                            </tr>
                                                            </tbody></table>
                                                        </td>
                                                                </tr>
                                                            </tbody></table></td>
                                                            
                                                            <td align="center" class="line">
															<table width="200" border="0" cellspacing="0" cellpadding="0" id="table68" height="181">
                                                                <tbody><tr>
                                                                  
                                                        <td height="150" align="center" background="img/sm.jpg"><img src="../photo/banners/img-12.jpg" width="180" height="243" border="0" align="top"></td>
                                                                </tr>
                                                                <tr>
                                                                  
                                                        <td height="31" align="center" class="font9">
                                                          <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table69">
                                                            <tbody><tr> 
                                                              <td align="center">
																<a href="showProDetail.asp?ProID=1789" class="money">公司树木</a></td>
                                                            </tr>
                                                            </tbody></table>
                                                        </td>
                                                                </tr>
                                                            </tbody></table></td>
                                                            
                                                          </tr>
                                                          <tr>
                                                            
                                                            <td align="center" class="line">
															<table width="200" border="0" cellspacing="0" cellpadding="0" id="table68" height="181">
                                                                <tbody><tr>
                                                                  
                                                        <td height="150" align="center" background="img/sm.jpg"><img src="../photo/banners/img-12.jpg"width="300" height="234" border="0" align="top"></td>
                                                                </tr>
                                                                <tr>
                                                                  
                                                        <td height="31" align="center" class="font9">
                                                          <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table69">
                                                            <tbody><tr> 
                                                              <td align="center">
																<a href="showProDetail.asp?ProID=1788" class="money">公司树木</a></td>
                                                            </tr>
                                                            </tbody></table>
                                                        </td>
                                                                </tr>
                                                            </tbody></table></td>
                                                            
                                                            <td align="center" class="line">
															<table width="200" border="0" cellspacing="0" cellpadding="0" id="table68" height="181">
                                                                <tbody><tr>
                                                                  
                                                        <td height="150" align="center" background="img/sm.jpg"><img src="../photo/banners/img-12.jpg" width="180" height="220" border="0" align="top"></td>
                                                                </tr>
                                                                <tr>
                                                                  
                                                        <td height="31" align="center" class="font9">
                                                          <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table69">
                                                            <tbody><tr> 
                                                              <td align="center">
																<a href="showProDetail.asp?ProID=1787" class="money">公司树木</a></td>
                                                            </tr>
                                                            </tbody></table>
                                                        </td>
                                                                </tr>
                                                            </tbody></table></td>
                                                            
                                                            <td align="center" class="line">
															<table width="200" border="0" cellspacing="0" cellpadding="0" id="table68" height="181">
                                                                <tbody><tr>
                                                                  
                                                        <td height="150" align="center" background="img/sm.jpg"><img src="../photo/banners/img-12.jpg" width="180" height="223" border="0" align="top"></td>
                                                                </tr>
                                                                <tr>
                                                                  
                                                        <td height="31" align="center" class="font9">
                                                          <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table69">
                                                            <tbody><tr> 
                                                              <td align="center">
																<a href="showProDetail.asp?ProID=1786" class="money">公司树木</a></td>
                                                            </tr>
                                                            </tbody></table>
                                                        </td>
                                                                </tr>
                                                            </tbody></table></td>
                                                            
                                                          </tr>
                                                          <tr>
                                                            
                                                            <td align="center" class="line">
															<table width="200" border="0" cellspacing="0" cellpadding="0" id="table68" height="181">
                                                                <tbody><tr>
                                                                  
                                                        <td height="150" align="center" background="img/sm.jpg"><img src="../photo/banners/img-12.jpg" width="180" height="217" border="0" align="top"></td>
                                                                </tr>
                                                                <tr>
                                                                  
                                                        <td height="31" align="center" class="font9">
                                                          <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table69">
                                                            <tbody><tr> 
                                                              <td align="center">
																<a href="showProDetail.asp?ProID=1785" class="money">公司树木</a></td>
                                                            </tr>
                                                            </tbody></table>
                                                        </td>
                                                                </tr>
                                                            </tbody></table></td>
                                                            
                                                            <td align="center" class="line">
															<table width="200" border="0" cellspacing="0" cellpadding="0" id="table68" height="181">
                                                                <tbody><tr>
                                                                  
                                                        <td height="150" align="center" background="img/sm.jpg"><img src="../photo/banners/img-12.jpg"width="180" height="226" border="0" align="top"></td>
                                                                </tr>
                                                                <tr>
                                                                  
                                                        <td height="31" align="center" class="font9">
                                                          <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table69">
                                                            <tbody><tr> 
                                                              <td align="center">
																<a href="showProDetail.asp?ProID=1784" class="money">公司树木</a></td>
                                                            </tr>
                                                            </tbody></table>
                                                        </td>
                                                                </tr>
                                                            </tbody></table></td>
                                                            
                                                            <td align="center" class="line">
															<table width="200" border="0" cellspacing="0" cellpadding="0" id="table68" height="181">
                                                                <tbody><tr>
                                                                  
                                                        <td height="150" align="center" background="img/sm.jpg"><img src="../photo/banners/img-12.jpg"width="180" height="227" border="0" align="top"></td>
                                                                </tr>
                                                                <tr>
                                                                  
                                                        <td height="31" align="center" class="font9">
                                                          <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table69">
                                                            <tbody><tr> 
                                                              <td align="center">
																<a href="showProDetail.asp?ProID=1783" class="money">公司树木</a></td>
                                                            </tr>
                                                            </tbody></table>
                                                        </td>
                                                                </tr>
                                                            </tbody></table></td>
                                                            
                                                          </tr>
                                                          <tr>
                                                            
                                                            </tr></tbody></table></td>
        </tr>
       </tbody></table>
</div></td></tr>
        </tbody></table></td>
    </tr></tbody></table>

  <!-- Start of main body --><!-- End of main body -->


  <!-- Start of links -->
  <div class="links">
    <div class="container">
      <div class="item">
        <p>联系我们 </p>
        <p>电子邮箱：csyuming@vip163.com</p>
        <p>&nbsp;</p>
        <p>Skype：csyuming11</p>
        <p>&nbsp;</p>
        <p>电话:0086-731-88252996</p>
        <p>&nbsp;</p>
        <p>传真:0086-731-88252997</p>
        <p>&nbsp;</p>
        <p>地址：湖南省长沙市望城区茶亭镇洪开桥村</p>
      </div>
<div class="item">
        <p>网页地图:</p>
      <p>&nbsp;</p>
        <p><a href="about.html">关于我们</a></p>
      <p>&nbsp;</p>
        <p><a href="contact.html">联系我们</a></p>
      <p>&nbsp;</p>
        <p><a href="product.html">产品范围</a></p>
      <p>&nbsp;</p>
        <p><a href="index-en.html">英文主页</a></p>
      <p>&nbsp;</p>
        <p><a href="environment.html">公司环境</a></p>
        <p>&nbsp;</p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- End of links -->


  <!-- Start of Footer -->
  <footer class="site-footer">
    <div class="container">
      <p>Copyright (C) 2009　长沙宇名汽车电器有限责任公司   湘ICP备090152045号   技术支持：1+1网络</p>
    </div>
  </footer>
  <!-- End of Footer -->


  <!-- Include index -->
<script type="text/javascript" src="../js/index.js"></script>

</body>
</html>
