<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>长沙宇名汽车电器有限责任公司</title>
  <link rel="stylesheet" type="text/css" href="../fonts/iconfonts/iconfont.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" type="text/css" href="../css/index.min.css">
  <link rel="stylesheet" type="text/css" href="../css/slider.css">
</head>
<body>
 
  <!-- Start of Header -->
  <header class="site-header">
    <div class="container">
      <div class="logo">
        <a href=""><img src="./YMLOGO.png"></a>
      </div>

      <!-- nav -->
      <nav class="nav">
        <a href="index.html" class="active">主页</a>
        <a href="about.html">关于我们</a>
        <a href="contact.html">联系我们</a>
        <a href="index-en.html">English</a>
      <a href="product.html">产品范围</a>
      </nav>

      <!-- search area -->
      <div class="search-area">
        <form>
          <input type="text" name="wd" class="input" placeholder="关键字：汽车配件...">

          <button class="btn-submit">
            <span class="iconfont icon-search"></span>
            <input type="button">
          </button>
        </form>
      </div>

      <div class="clear"></div>
    </div>
  </header>
  <!-- End of Header -->


  <!-- Start of main body -->
  <div class="main-body">
    <!-- banner || slider -->
    <div class="wrap">
      <ul class="clearFix">
        <li><a href="javascript:;"><img src="../photo/banners/img-5.jpg"alt=""></a></li>
        <li><a href="javascript:;"><img src="../photo/banners/img-1.jpg"alt=""></a></li>
        <li><a href="javascript:;"><img src="../photo/banners/img-2.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="../photo/banners/img-3.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="../photo/banners/img-4.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="../photo/banners/img-5.jpg" alt=""></a></li>
        <li><a href="javascript:;"><img src="../photo/banners/img-1.jpg" alt=""></a></li>
      </ul>

      <ul>
        <li><a href="javascript:;" class="active"></a></li>
        <li><a href="javascript:;"></a></li>
        <li><a href="javascript:;"></a></li>
        <li><a href="javascript:;"></a></li>
        <li><a href="javascript:;"></a></li>
      </ul>

      <ul>
        <li><a href="javascript:;" class="arrow_prev">&lt;</a></li>
        <li><a href="javascript:;" class="arrow_next">&gt;</a></li>
      </ul>
    </div>

    <div class="aboutUs item">
			<div class="about">
				<div class="productsTitle">
					<div class="Title">
						我们的使命
				  </div>
				</div>
				<p class="msg">成为全球领先的汽车零部件供应商</p>
				<p class="msg">创新的产品和运营</p>
				<div class="indexRow row">
					
				  <div class="col-xs-6 indexAbout">
						<h2>ABOUT US</h2>
					<p>
							长沙宇名汽车电器有限责任公司是一家专业生产汽车起动机和其他配件的民营企业。
现生产100多个型号的产品，已形成年产起动机二十万台的生产能力，产品主要销往欧洲、北美、中东和东南亚地区。 。
				    </p>
					  <a href="about.html" class="link-more">
              <img src="../images/readmore.png" width="412%" height="163%">
            </a>
					</div>
				</div>
			</div>
		</div>

    <div class="productsTitle">
					<div class="Title">
						公司简介
					</div>
	</div>
    <!-- main content -->
    <div class="container">
      <div class="list">
        <div class="item">
          <div class="img">
            <img src="../photo/banners/img-11.gif">
            <div class="mask">
              <span>起动机</span>
            </div>
          </div>

          <div class="type">产品范围</div>

          <div class="more">
            <a href="product.html">更多</a>
          </div>
        </div>

        <div class="item">
          <div class="img">
            <img src="../photo/banners/img-12.jpg">
            <div class="mask">
              <span>环境</span>
            </div>
          </div>

          <div class="type">公司环境</div>

          <div class="more">
            <a href="environment.html">更多</a>
          </div>
        </div>

        <div class="item">
          <div class="img">
            <img src="../photo/banners/img-9.jpg">
            <div class="mask">
              <span>油泵电机</span>
            </div>
          </div>

          <div class="type">未来开发项目</div>

          <div class="more">
            <a href="">更多</a>
          </div>
        </div>

        <div class="clear"></div>
      </div>
    </div>
  </div>
  <!-- End of main body -->


  <!-- Start of links -->
  <div class="links">
    <div class="container">
      <div class="item">
        <p>联系我们 </p>
        <p>电子邮箱：csyuming@vip163.com</p>
        <p>&nbsp;</p>
        <p>Skype：csyuming11</p>
        <p>&nbsp;</p>
        <p>电话:0086-731-88252996</p>
        <p>&nbsp;</p>
        <p>传真:0086-731-88252997</p>
        <p>&nbsp;</p>
        <p>地址：湖南省长沙市望城区茶亭镇洪开桥村</p>
        <p>&nbsp;</p>
      </div>

      <div class="item">
        <p>网页地图:</p>
        <p>&nbsp;</p>
        <p><a href="about.html">关于我们</a></p>
        <p>&nbsp;</p>
        <p><a href="contact.html">联系我们</a></p>
        <p>&nbsp;</p>
        <p><a href="product.html">产品范围</a></p>
        <p>&nbsp;</p>
        <p><a href="index-en.html">英文主页</a></p>
        <p>&nbsp;</p>
        <p><a href="environment.html">公司环境</a></p>
      </div>

      <div class="clear"></div>
    </div>
  </div>
  <!-- End of links -->


  <!-- Start of Footer -->
  <footer class="site-footer">
    <div class="container">
      <p>Copyright (C) 2009　长沙宇名汽车电器有限责任公司   湘ICP备090152045号   技术支持：1+1网络</p>
    </div>
  </footer>
  <!-- End of Footer -->


  <!-- Include slider -->
<script type="text/javascript" src="../js/slider.js"></script>
</body>
</html>