<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>长沙宇名汽车电器有限责任公司</title>
  <link rel="stylesheet" type="text/css" href="../fonts/iconfonts/iconfont.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <link rel="stylesheet" type="text/css" href="../css/index.min.css">
  <link rel="stylesheet" type="text/css" href="../css/slider.css">
</head>
<body>
  
  <!-- Start of Header -->
  <header class="site-header">
    <div class="container">
      <div class="logo">
        <a href=""><img src="./YMLOGO.png"></a>
      </div>

      <!-- nav -->
      <nav class="nav">
        <a href="index-en.html" class="active">Home</a>
        <a href="about-en.html">About Us</a>
        <a href="contact-en.html">Contact Us</a>
        <a href="index.html">Chinese</a>
          <a href="product-en.html">product range</a>
      </nav>

      <!-- search area -->
      <div class="search-area">
        <form>
          <input type="text" name="wd" class="input" placeholder="keyword:auto parts...">

          <button class="btn-submit">
            <span class="iconfont icon-search"></span>
            <input type="button">
          </button>
        </form>
      </div>

      <div class="clear"></div>
    </div>
  </header>
  <!-- End of Header -->


  <!-- Start of main body -->
  <div class="main-body">
    <!-- banner || slider -->
    <div class="wrap">
      <ul class="clearFix">
        <li><a href="javascript:;"><img src="../photo/banners/img-5.jpg"alt=""></a></li>
        <li><a href="javascript:;"><img src="../photo/banners/img-1.jpg"alt=""></a></li>
        <li><a href="javascript:;"><img src="../photo/banners/img-2.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="../photo/banners/img-3.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="../photo/banners/img-4.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="../photo/banners/img-5.jpg" alt=""></a></li>
        <li><a href="javascript:;"><img src="../photo/banners/img-1.jpg" alt=""></a></li>
      </ul>


      <ul>
        <li><a href="javascript:;" class="active"></a></li>
        <li><a href="javascript:;"></a></li>
        <li><a href="javascript:;"></a></li>
        <li><a href="javascript:;"></a></li>
        <li><a href="javascript:;"></a></li>
      </ul>

      <ul>
        <li><a href="javascript:;" class="arrow_prev">&lt;</a></li>
        <li><a href="javascript:;" class="arrow_next">&gt;</a></li>
      </ul>
    </div>
 <div class="aboutUs item">
			<div class="about">
				<div class="productsTitle">
					<div class="Title">
						Our Mission</div>
				</div>
				<p>Become the world's leading supplier of automotive parts</p>
				<p>&nbsp;</p>
				<p>Innovative products and operations</p>
				<p class="msg">&nbsp;</p>
				<div class="indexRow row">
					
					<div class="col-xs-6 indexAbout">
						<h2>ABOUT US</h2>
						<p>
							Changsha Yuming Automotive Electrical Co., Ltd. is a private enterprise specializing in the production of automobile starters and other accessories. More than 100 types of products have been produced, and the annual production capacity of 200,000 starters has been formed. The products are mainly sold to Europe, North America, Middle East and Southeast Asia.。 。
					  </p>
						<a href="about.html" class="link-more">
              <img src="../images/readmore.png">
            </a>
					</div>
				</div>
			</div>
		</div>
    <div class="productsTitle">
      <div class="Title">Company Profile</div>

      <div class="list">
        <div class="item">
          <div class="img">
            <img src="../photo/banners/img-11.gif">
            <div class="mask">
              <span>Starter</span>
            </div>
          </div>

          <div class="type">product range</div>

          <div class="more">
            <a href="product-en.html">More</a>
          </div>
        </div>

        <div class="item">
          <div class="img">
              <img src="../photo/banners/img-12.jpg">
            <div class="mask">
              <span>environment</span>
            </div>
          </div>

          <div class="type">corporate environment</div>

          <div class="more">
            <a href="">More</a>
          </div>
        </div>

        <div class="item">
          <div class="img">
            <img src="../photo/banners/img-9.jpg">
            <div class="mask">
              <span>pump motor...</span>
            </div>
          </div>

          <div class="type">Future Development Project</div>

          <div class="more">
            <a href="">More</a>
          </div>
        </div>

        <div class="clear"></div>
      </div>
    </div>
  </div>
  <!-- End of main body -->


  <!-- Start of links -->
  <div class="links">
    <div class="container">
      <div class="item">
        <p>Contact us</p>
        <p>&nbsp;</p>
        <p>E-mail: csyuming@vip163.com</p>
        <p>&nbsp;</p>
        <p>Skype: csyuming11</p>
        <p>&nbsp;</p>
        <p>Tel: 0086-731-88252996</p>
        <p>&nbsp;</p>
        <p>Fax: 0086-731-88252997</p>
        <p>&nbsp;</p>
        <p>Address: Hongkaiqiao Village, Chating Town, Wangcheng District, Changsha City, Hunan Province</p>
      </div>
<div class="item">
        <p>Web Map:</p>
        <p>&nbsp;</p>
        <p><a href="about-en.html">About us</a></p>
        <p>&nbsp;</p>
        <p><a href="contact-en.html">Contact us</a></p>
        <p>&nbsp;</p>
        <p><a href="product-en.html">Product scope</a></p>
        <p>&nbsp;</p>
        <p><a href="index-en.html">Chinese </a></p>
        <p>&nbsp;</p>
        <p><a href="environment.html">environment</a></p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- End of links -->


  <!-- Start of Footer -->
  <footer class="site-footer">
    <div class="container">
      <p>Copyright (C) 2009　长沙宇名汽车电器有限责任公司   湘ICP备090152045号   技术支持：1+1网络</p>
    </div>
  </footer>
  <!-- End of Footer -->


  <!-- Include slider -->
  <script type="text/javascript" src="../js/slider.js"></script>

</body>
</html>
