<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="../fonts/iconfonts/iconfont.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="about.min.css">
</head>

<body>
<!-- Start of Header -->
  <header class="site-header">
    <div class="container">
      <div class="logo">
        <a href=""><img src="./YMLOGO.png"/></a>
      </div>

      <!-- nav -->
      <nav class="nav"><a href="index-en.html" class="active">Home</a> <a href="about-en.html">About Us</a> <a href="contact-en.html">Contact Us</a> <a href="index.html">Chinese</a> <a href="product-en.html">product range</a></nav>

      <!-- search area -->
      <div class="search-area">
        <form>
          <input type="text" name="wd" class="input">

          <button class="btn-submit">
            <span class="iconfont icon-search"></span>
            <input type="button">
          </button>
        </form>
      </div>

      <div class="clear"></div>
    </div>
  </header>
  <!-- End of Header -->
<table class="dbg001" cellspacing="0" cellpadding="0" width="1002" align="center" border="0">
  <tbody>
  <tr>
    <td class="leftright" valign="top" align="left" width="211">
            
      <div class="downbk001" style="OVERFLOW: hidden;HEIGHT:45px; width:221px;margin-top:10px;" align="left"><img border="0" src="news_bg.gif" width="221" height="45"></div>
		<div>
			<div style="WIDTH: 221px; PADDING-TOP: 7px; HEIGHT: 200px;background:#F4F4F4;padding-top:1px;" align="center"><table cellspacing="0" cellpadding="0" width="94%" border="0">
  <tbody>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td>
		<table bordercolor="#111111" cellspacing="0" cellpadding="2" width="95%" border="0" class="font22">
        <tbody><tr>
          <td width="80%" height="16"><script language="JavaScript" type="text/JavaScript">
		             <!--
            function MM_jumpMenu(targ,selObj,restore){ //v3.0
                      eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
                      if (restore) selObj.selectedIndex=0;
                     }
            //-->
<!--
	function ToggleDisplay(oButton, oItems){
		if ((oItems.style.display == "") || (oItems.style.display == "block"))	{
			oItems.style.display = "none";
			oButton.src = "/images/tree_plus.gif";
		}	
		else {
			oItems.style.display = "block";
			oButton.src = "/images/tree_minus.gif";
		}
		return false;
	}
	function UnFoldAll() {
		temp = document.all.length;
	    for(i=0;i<temp;i++)
		    if(document.all[i].id.substr(0,3) =="Img")
			    document.all[i].src = "/images/tree_minus.gif"
	        else if(document.all[i].id.substr(0,4) =="Tree")
		        document.all[i].style.display ="block"
	}
	function FoldAll() {
		temp = document.all.length;
	    for(i=0;i<temp;i++)
		    if(document.all[i].id.substr(0,3) =="Img")
			    document.all[i].src = "/images/tree_plus.gif"
	        else if(document.all[i].id.substr(0,4) =="Tree")
		        document.all[i].style.display ="none"
	}
//-->
</script>
                &nbsp;&nbsp;&nbsp;<a href="Product.asp?classtype=发电机" class="six">&nbsp;</a><br>          </td>
        </tr>
        <tr>
          <td height="3"></td>
        </tr>
        <tr>
          <td><img border="0" src="img/line.gif" width="177" height="1"></td>
        </tr>
        <tr>
          <td height="3"></td>
        </tr>
        <tr>
          <td><div id="Tree82" style="display: none;">
            
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tbody><tr>
                <td width="100%" height="5"></td>
              </tr>
            </tbody></table>
          </div>
                &nbsp;&nbsp;&nbsp;<a border="0" style="CURSOR: hand" id="Img83" onclick="ToggleDisplay(Img83,Tree83)"><img src="img/p.jpg" width="5" height="5" border="0">&nbsp;&nbsp;starter</a><font color="800000"></font><br>          </td>
        </tr>
        <tr>
          <td height="3"></td>
        </tr>
        <tr>
          <td><img border="0" src="img/line.gif" width="177" height="1"></td>
        </tr>
        <tr>
          <td height="3"></td>
        </tr>
        <tr>
          <td><div id="Tree83" style="display: none;">
            
            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="21">
              <tbody><tr>
                <td width="100%">&nbsp; ◇&nbsp;<a class="number" href="Product.asp?classtype=起动机&amp;smallclass=0001109系列">0001109系列</a></td>
              </tr>
            </tbody></table>
            
            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="21">
              <tbody><tr>
                <td width="100%">&nbsp; ◇&nbsp;<a class="number" href="Product.asp?classtype=起动机&amp;smallclass=0001218系列">0001218系列</a></td>
              </tr>
            </tbody></table>
            
            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="21">
              <tbody><tr>
                <td width="100%">&nbsp; ◇&nbsp;<a class="number" href="Product.asp?classtype=起动机&amp;smallclass=0001223系列">0001223系列</a></td>
              </tr>
            </tbody></table>
            
            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="21">
              <tbody><tr>
                <td width="100%">&nbsp; ◇&nbsp;<a class="number" href="Product.asp?classtype=起动机&amp;smallclass=0001230系列">0001230系列</a></td>
              </tr>
            </tbody></table>
            
            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="21">
              <tbody><tr>
                <td width="100%">&nbsp; ◇&nbsp;<a class="number" href="Product.asp?classtype=起动机&amp;smallclass=0001231系列">0001231系列</a></td>
              </tr>
            </tbody></table>
            
            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="21">
              <tbody><tr>
                <td width="100%">&nbsp; ◇&nbsp;<a class="number" href="Product.asp?classtype=起动机&amp;smallclass=0001241系列">0001241系列</a></td>
              </tr>
            </tbody></table>
            
            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="21">
              <tbody><tr>
                <td width="100%">&nbsp; ◇&nbsp;<a class="number" href="Product.asp?classtype=起动机&amp;smallclass=0001371系列">0001371系列</a></td>
              </tr>
            </tbody></table>
            
            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="21">
              <tbody><tr>
                <td width="100%">&nbsp; ◇&nbsp;<a class="number" href="Product.asp?classtype=起动机&amp;smallclass=0001410系列">0001410系列</a></td>
              </tr>
            </tbody></table>
            
            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="21">
              <tbody><tr>
                <td width="100%">&nbsp; ◇&nbsp;<a class="number" href="Product.asp?classtype=起动机&amp;smallclass=0001411系列">0001411系列</a></td>
              </tr>
            </tbody></table>
            
            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="21">
              <tbody><tr>
                <td width="100%">&nbsp; ◇&nbsp;<a class="number" href="Product.asp?classtype=起动机&amp;smallclass=0001416系列">0001416系列</a></td>
              </tr>
            </tbody></table>
            
            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="21">
              <tbody><tr>
                <td width="100%">&nbsp; ◇&nbsp;<a class="number" href="Product.asp?classtype=起动机&amp;smallclass=0001417系列">0001417系列</a></td>
              </tr>
            </tbody></table>
            
            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="21">
              <tbody><tr>
                <td width="100%">&nbsp; ◇&nbsp;<a class="number" href="Product.asp?classtype=起动机&amp;smallclass=0001510系列">0001510系列</a></td>
              </tr>
            </tbody></table>
            
            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="21">
              <tbody><tr>
                <td width="100%">&nbsp; ◇&nbsp;<a class="number" href="Product.asp?classtype=起动机&amp;smallclass=0001372系列">0001372系列</a></td>
              </tr>
            </tbody></table>
            
            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="21">
              <tbody><tr>
                <td width="100%">&nbsp; ◇&nbsp;<a class="number" href="Product.asp?classtype=起动机&amp;smallclass=S14系列">S14系列</a></td>
              </tr>
            </tbody></table>
            
            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="21">
              <tbody><tr>
                <td width="100%">&nbsp; ◇&nbsp;<a class="number" href="Product.asp?classtype=起动机&amp;smallclass=S114系列">S114系列</a></td>
              </tr>
            </tbody></table>
            
            <table width="100%" border="0" cellpadding="0" cellspacing="0" height="21">
              <tbody><tr>
                <td width="100%">&nbsp; ◇&nbsp;<a class="number" href="Product.asp?classtype=起动机&amp;smallclass=TY2900系列">TY2900系列</a></td>
              </tr>
            </tbody></table>
            
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tbody><tr>
                <td width="100%" height="5"></td>
              </tr>
            </tbody></table>
          </div>
                &nbsp;&nbsp;&nbsp;<br>          </td>
        </tr>
        <tr>
          <td height="3"></td>
        </tr>
        <tr>
          <td><img border="0" src="img/line.gif" width="177" height="1"></td>
        </tr>
        <tr>
          <td height="3"></td>
        </tr>
        <tr>
          <td><div id="Tree84" style="display: none;">
            
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tbody><tr>
                <td width="100%" height="5"></td>
              </tr>
            </tbody></table>
          </div>
                &nbsp;&nbsp;&nbsp;<br>          </td>
        </tr>
        <tr>
          <td height="3"></td>
        </tr>
        <tr>
          <td><img border="0" src="img/line.gif" width="177" height="1"></td>
        </tr>
        <tr>
          <td height="3"></td>
        </tr>
        <tr>
          <td><div id="Tree85" style="display: none;">
            
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tbody><tr>
                <td width="100%" height="5"></td>
              </tr>
            </tbody></table>
          </div>
                
                <script language="javascript">FoldAll();</script>          </td>
        </tr>
      </tbody></table></td>
    </tr>
    </tbody>
</table>
</div></div>
	  
	  <div style="WIDTH: 221px;  HEIGHT: 77px;margin-top:10px;" align="center"></div>
      
	  <div style="PADDING-BOTTOM: 14px; OVERFLOW: hidden; WIDTH: 190px"><img height="2" alt="" src="img/index2_53.jpg" width="190"></div></td>
    <td valign="top" align="left">
      <table cellspacing="0" cellpadding="0" width="760" align="center" border="0">
        <tbody>
        <tr>
          <td valign="top" align="left" height="180">
            <div style="OVERFLOW: hidden; HEIGHT: 11px; width:507px"></div>
            <table height="28" cellspacing="0" cellpadding="0" width="100%" border="0"><tbody>
              <tr>
                <td class="introbg001" valign="center" align="left" width="118">
                  <table cellspacing="0" cellpadding="0" width="100%" border="0">
                    <tbody>
                    <tr>
                      <td valign="center" align="middle" width="27" height="20">&nbsp;</td>
                      <td class="introfont" style="PADDING-RIGHT: 20px" valign="center" nowrap="" align="left"><font color="#1174BD"><span style="font-size: 9pt">
						产品展厅</span></font></td></tr></tbody></table></td>
                <td class="downbg001" style="PADDING-RIGHT: 20px" valign="center" align="right">　</td></tr></tbody></table>
            <div style="PADDING-RIGHT: 10px; PADDING-LEFT: 10px; LINE-HEIGHT: 24px">
													<table width="54%" border="0" cellpadding="0" cellspacing="0" id="table63">
                                                    <tbody><tr>
                                  <td height="5"></td>
                                                    </tr>
                                                    <tr>
                                  <td height="10"></td>
                                                    </tr>
                                                            <tr> 
          <td align="left" valign="top"> 
                                                        <table width="700" border="0" cellpadding="0" cellspacing="0" class="table3" id="table64" height="156">
                                                          
                                                          <tbody><tr>
                                                            
                                                            <td align="center" class="line">
															<table width="200" border="0" cellspacing="0" cellpadding="0" id="table68" height="181">
                                                                <tbody><tr>
                                                                  
                                                        <td height="150" align="center" background="img/sm.jpg"><a href="showProDetail.asp?ProID=1791">
														<img src="../photo/banners/img-8.jpg"width="180" height="130" border="0" align="top"></a></td>
                                                                </tr>
                                                                <tr>
                                                                  
                                                        <td height="31" align="center" class="font9">
                                                          <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table69">
                                                            <tbody><tr> 
                                                              <td align="center">
																<a href="showProDetail.asp?ProID=1791" class="money">S114-832</a></td>
                                                            </tr>
                                                            </tbody></table>
                                                        </td>
                                                                </tr>
                                                            </tbody></table></td>
                                                            
                                                            <td align="center" class="line">
															<table width="200" border="0" cellspacing="0" cellpadding="0" id="table68" height="181">
                                                                <tbody><tr>
                                                                  
                                                        <td height="150" align="center" background="img/sm.jpg"><a href="showProDetail.asp?ProID=1790">
														<img src="../photo/banners/img-8.jpg"width="180" height="130" border="0" align="top"></a></td>
                                                                </tr>
                                                                <tr>
                                                                  
                                                        <td height="31" align="center" class="font9">
                                                          <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table69">
                                                            <tbody><tr> 
                                                              <td align="center">
																<a href="showProDetail.asp?ProID=1790" class="money">S14-204A</a></td>
                                                            </tr>
                                                            </tbody></table>
                                                        </td>
                                                                </tr>
                                                            </tbody></table></td>
                                                            
                                                            <td align="center" class="line">
															<table width="200" border="0" cellspacing="0" cellpadding="0" id="table68" height="181">
                                                                <tbody><tr>
                                                                  
                                                        <td height="150" align="center" background="img/sm.jpg"><a href="showProDetail.asp?ProID=1789">
														<img src="../photo/banners/img-9.jpg"width="180" height="130" border="0" align="top"></a></td>
                                                                </tr>
                                                                <tr>
                                                                  
                                                        <td height="31" align="center" class="font9">
                                                          <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table69">
                                                            <tbody><tr> 
                                                              <td align="center">
																<a href="showProDetail.asp?ProID=1789" class="money">0001372006 TY2602A</a></td>
                                                            </tr>
                                                            </tbody></table>
                                                        </td>
                                                                </tr>
                                                            </tbody></table></td>
                                                            
                                                          </tr>
                                                          <tr>
                                                            
                                                            <td align="center" class="line">
															<table width="200" border="0" cellspacing="0" cellpadding="0" id="table68" height="181">
                                                                <tbody><tr>
                                                                  
                                                        <td height="150" align="center" background="img/sm.jpg"><a href="showProDetail.asp?ProID=1788">
														<img src="../photo/banners/img-8.jpg"width="180" height="130" border="0" align="top"></a></td>
                                                                </tr>
                                                                <tr>
                                                                  
                                                        <td height="31" align="center" class="font9">
                                                          <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table69">
                                                            <tbody><tr> 
                                                              <td align="center">
																<a href="showProDetail.asp?ProID=1788" class="money">0001372002 TY2602</a></td>
                                                            </tr>
                                                            </tbody></table>
                                                        </td>
                                                                </tr>
                                                            </tbody></table></td>
                                                            
                                                            <td align="center" class="line">
															<table width="200" border="0" cellspacing="0" cellpadding="0" id="table68" height="181">
                                                                <tbody><tr>
                                                                  
                                                        <td height="150" align="center" background="img/sm.jpg"><a href="showProDetail.asp?ProID=1787">
														<img src="../photo/banners/img-9.jpg"width="180" height="130" border="0" align="top"></a></td>
                                                                </tr>
                                                                <tr>
                                                                  
                                                        <td height="31" align="center" class="font9">
                                                          <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table69">
                                                            <tbody><tr> 
                                                              <td align="center">
																<a href="showProDetail.asp?ProID=1787" class="money">0001372001 TY2602B</a></td>
                                                            </tr>
                                                            </tbody></table>
                                                        </td>
                                                                </tr>
                                                            </tbody></table></td>
                                                            
                                                            <td align="center" class="line">
															<table width="200" border="0" cellspacing="0" cellpadding="0" id="table68" height="181">
                                                                <tbody><tr>
                                                                  
                                                        <td height="150" align="center" background="img/sm.jpg"><a href="showProDetail.asp?ProID=1786">
														<img src="../photo/banners/img-9.jpg"width="180" height="130" border="0" align="top"></a></td>
                                                                </tr>
                                                                <tr>
                                                                  
                                                        <td height="31" align="center" class="font9">
                                                          <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table69">
                                                            <tbody><tr> 
                                                              <td align="center">
																<a href="showProDetail.asp?ProID=1786" class="money">0001510039 YM0001510039</a></td>
                                                            </tr>
                                                            </tbody></table>
                                                        </td>
                                                                </tr>
                                                            </tbody></table></td>
                                                            
                                                          </tr>
                                                          <tr>
                                                            
                                                            <td align="center" class="line">
															<table width="200" border="0" cellspacing="0" cellpadding="0" id="table68" height="181">
                                                                <tbody><tr>
                                                                  
                                                        <td height="150" align="center" background="img/sm.jpg"><a href="showProDetail.asp?ProID=1785">
														<img src="../photo/banners/img-8.jpg"width="180" height="130" border="0" align="top"></a></td>
                                                                </tr>
                                                                <tr>
                                                                  
                                                        <td height="31" align="center" class="font9">
                                                          <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table69">
                                                            <tbody><tr> 
                                                              <td align="center">
																<a href="showProDetail.asp?ProID=1785" class="money">0001510035 YM0001510035</a></td>
                                                            </tr>
                                                            </tbody></table>
                                                        </td>
                                                                </tr>
                                                            </tbody></table></td>
                                                            
                                                            <td align="center" class="line">
															<table width="200" border="0" cellspacing="0" cellpadding="0" id="table68" height="181">
                                                                <tbody><tr>
                                                                  
                                                        <td height="150" align="center" background="img/sm.jpg"><a href="showProDetail.asp?ProID=1784">
														<img src="../photo/banners/img-9.jpg" width="180" height="130" border="0" align="top"></a></td>
                                                                </tr>
                                                                <tr>
                                                                  
                                                        <td height="31" align="center" class="font9">
                                                          <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table69">
                                                            <tbody><tr> 
                                                              <td align="center">
																<a href="showProDetail.asp?ProID=1784" class="money">0001510025 YM0001510025</a></td>
                                                            </tr>
                                                            </tbody></table>
                                                        </td>
                                                                </tr>
                                                            </tbody></table></td>
                                                            
                                                            <td align="center" class="line">
															<table width="200" border="0" cellspacing="0" cellpadding="0" id="table68" height="181">
                                                                <tbody><tr>
                                                                  
                                                        <td height="150" align="center" background="img/sm.jpg"><a href="showProDetail.asp?ProID=1783">
														<img src="../photo/banners/img-9.jpg"width="180" height="130" border="0" align="top"></a></td>
                                                                </tr>
                                                                <tr>
                                                                  
                                                        <td height="31" align="center" class="font9">
                                                          <table width="100%" border="0" cellspacing="0" cellpadding="0" id="table69">
                                                            <tbody><tr> 
                                                              <td align="center">
																<a href="showProDetail.asp?ProID=1783" class="money">0001510017 YM0001510017</a></td>
                                                            </tr>
                                                            </tbody></table>
                                                        </td>
                                                                </tr>
                                                            </tbody></table></td>
                                                            
                                                          </tr>
                                                          <tr>
                                                            
                                                            </tr></tbody></table>
                                                        <table width="100%" id="table67">
              <tbody><tr> 
                <td height="35"> 
                  <div align="center" class="number"><span class="font3">
					页次: <b>1/10</b></span>              
                    <a href="" class="number">
					首页</a>              
                                 
                    <a href="" class="number">
					下一页</a>              
                                 
                    <a href="" class="number">
					尾页</a>              
                      
                    <font color="#FFFFFF">              
                    <select name="page" onchange="location=this.options[this.selectedIndex].value"> 
                      
                      <option value="?page=1&amp;classType=&amp;smallclass=&amp;key=&amp;type=" selected="">第1页</option>
                      
                      <option value="?page=2&amp;classType=&amp;smallclass=&amp;key=&amp;type=">第2页</option>
                      
                      <option value="?page=3&amp;classType=&amp;smallclass=&amp;key=&amp;type=">第3页</option>
                      
                      <option value="?page=4&amp;classType=&amp;smallclass=&amp;key=&amp;type=">第4页</option>
                      
                      <option value="?page=5&amp;classType=&amp;smallclass=&amp;key=&amp;type=">第5页</option>
                      
                      <option value="?page=6&amp;classType=&amp;smallclass=&amp;key=&amp;type=">第6页</option>
                      
                      <option value="?page=7&amp;classType=&amp;smallclass=&amp;key=&amp;type=">第7页</option>
                      
                      <option value="?page=8&amp;classType=&amp;smallclass=&amp;key=&amp;type=">第8页</option>
                      
                      <option value="?page=9&amp;classType=&amp;smallclass=&amp;key=&amp;type=">第9页</option>
                      
                      <option value="?page=10&amp;classType=&amp;smallclass=&amp;key=&amp;type=">第10页</option>
                      
                    </select></font>           
                  </div></td>
              </tr>
            </tbody></table></td>
        </tr>
       </tbody></table>
</div></td></tr>
        </tbody></table></td>
    </tr></tbody></table>

  <!-- Start of main body -->
<div class="content_bg"></div>
  <!-- End of main body -->


  <!-- Start of links -->
  <div class="links">
    <div class="container">
      <div class="item">
        <p>Contact us</p>
        <p>&nbsp;</p>
        <p>E-mail: csyuming@vip163.com</p>
        <p>&nbsp;</p>
        <p>Skype: csyuming11</p>
        <p>&nbsp;</p>
        <p>Tel: 0086-731-88252996</p>
        <p>&nbsp;</p>
        <p>Fax: 0086-731-88252997</p>
        <p>&nbsp;</p>
        <p>Address: Hongkaiqiao Village, Chating Town, Wangcheng District, Changsha City, Hunan Province</p>
      </div>
<div class="item">
        <p>Web Map:</p>
        <p>&nbsp;</p>
        <p><a href="about-en.html">About us</a></p>
        <p>&nbsp;</p>
        <p><a href="contact-en.html">Contact us</a></p>
        <p>&nbsp;</p>
        <p><a href="product-en.html">Product scope</a></p>
        <p>&nbsp;</p>
        <p><a href="index-en.html">Chinese</a></p>
        <p>&nbsp;</p>
        <p><a href="environment.html">environment</a></p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- End of links -->


  <!-- Start of Footer -->
  <footer class="site-footer">
    <div class="container">
      <p>Copyright (C) 2009　长沙宇名汽车电器有限责任公司   湘ICP备090152045号   技术支持：1+1网络</p>
    </div>
  </footer>
  <!-- End of Footer -->


  <!-- Include index -->
<script type="text/javascript" src="../js/index.js"></script>
</body>
</html>
