<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="../fonts/iconfonts/iconfont.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="about.min.css">
  <link rel="stylesheet" type="text/css" href="../css/index.min.css">
</head>

<body>
 <header class="site-header">
    <div class="container">
      <div class="logo">
        <a href=""><img src="./YMLOGO.png"></a>
      </div>

      <!-- nav -->
      <nav class="nav">
        <a href="index.html" class="active">主页</a>
        <a href="about.html">关于我们</a>
        <a href="contact.html">联系我们</a>
        <a href="index-en.html">English</a>
      <a href="product.html">产品范围</a>
      </nav>

      <!-- search area -->
      <div class="search-area">
        <form>
          <input type="text" name="wd" class="input" placeholder="关键字：汽车配件...">

          <button class="btn-submit">
            <span class="iconfont icon-search"></span>
            <input type="button">
          </button>
        </form>
      </div>

      <div class="clear"></div>
    </div>
  </header>
  <!-- End of Header -->
<div class="item productDetails">
		<div class="Title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit; font-size: 36px;">
			起动机
		</font></font></div>
		<ul class="details ">

						<li>
				<img src="http://www.omnimotor.cn/storage/i/w/U5/5a77f6c0885d81.75691113_igqmfopjekhln.png">
				
				<div class="detailsWord">
					<div class="detailstitle">
						<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit; font-size: 24px;">起动机</font></font></p>
					<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">我们的启动器是针对行业标准QC程序的性能基准，涵盖12V和24V级，功率范围从1.1KW到8KW。</font><font style="vertical-align: inherit;">重型，乘用车，商用车的起动器都包括在内。</font></font></span>
					</div>
				</div>
			</li>
						<li>
				<img src="http://www.omnimotor.cn/storage/i/1/a5/5a77f6e012d510.26198577_pkjfmnlqigeho.png">
								<div class="detailsWord">
					<div class="detailstitle">
						<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit; font-size: 24px;">入门驱动器</font></font></p>
					<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">OmniMotor在提供全系列和高质量的起动机驱动方面具有很大的优势。</font><font style="vertical-align: inherit;">冷挤压加工技术使产品具有高精度，稳定的机械性能。</font></font></span>
					</div>
				</div>
			</li>
						<li>
				<img src="http://www.omnimotor.cn/storage/i/1/5R/5a77f6fbd3eb52.00034337_hmpneigkqfjol.png">
				
				<div class="detailsWord">
					<div class="detailstitle">
						<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit; font-size: 24px;">衔铁</font></font></p>
					<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">宽范围的电枢可确保您找到所需的产品。烧结工艺，连接器温度高，允许电枢在高工作温度下具有接头质量和低功耗。</font></font></span>
					</div>
				</div>
			</li>
						<li>
				<img src="http://www.omnimotor.cn/storage/i/R/r5/5a77f71f25f257.53573540_gklmnpfihjqoe.png">
				
				<div class="detailsWord">
					<div class="detailstitle">
						<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit; font-size: 24px;">中继</font></font></p>
					<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">通过使用先进的测试设备来控制继电器的质量。</font></font></span>
					</div>
				</div>
			</li>
						<li>
				<img src="http://www.omnimotor.cn/storage/i/Q/NO/5a77f739905923.60030422_ilnomqkjeghfp.png">
				
				<div class="detailsWord">
					<div class="detailstitle">
						<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit; font-size: 24px;">电磁</font></font></p>
					<span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">高低温耐久性测试，绝缘耐压测试，盐雾测试确保电磁阀质量更稳定。</font></font></span>
					</div>
				</div>
			</li>
  </ul>
</div>
     <!-- Start of links -->
  <div class="links">
    <div class="container">
      <div class="item">
        <p>联系我们 </p>
        <p>电子邮箱：csyuming@vip163.com</p>
        <p>&nbsp;</p>
        <p>Skype：csyuming11</p>
        <p>&nbsp;</p>
        <p>电话:0086-731-88252996</p>
        <p>&nbsp;</p>
        <p>传真:0086-731-88252997</p>
        <p>&nbsp;</p>
        <p>地址：湖南省长沙市望城区茶亭镇洪开桥村</p>
        <p>&nbsp;</p>
      </div>

      <div class="item">
        <p>网页地图:</p>
        <p>&nbsp;</p>
        <p><a href="about.html">关于我们</a></p>
        <p>&nbsp;</p>
        <p><a href="contact.html">联系我们</a></p>
        <p>&nbsp;</p>
        <p><a href="product.html">产品范围</a></p>
        <p>&nbsp;</p>
        <p><a href="index-en.html">英文主页</a></p>
        <p>&nbsp;</p>
        <p><a href="environment.html">公司环境</a></p>
      </div>

      <div class="clear"></div>
    </div>
  </div>
  <!-- End of links -->


  <!-- Start of Footer -->
  <footer class="site-footer">
    <div class="container">
      <p>Copyright (C) 2009　长沙宇名汽车电器有限责任公司   湘ICP备090152045号   技术支持：1+1网络</p>
    </div>
  </footer>
  <!-- End of Footer -->


  <!-- Include slider -->
<script type="text/javascript" src="../js/slider.js"></script>
</body>
</html>
